@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DMSans.ttf') format('truetype');
	font-weight: 100 1000;
	font-style: normal;
	font-display: swap;
}

@import 'tailwindcss';

/* Custom utilities */
.line-clamp-3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

html {
	font-family: 'DM Sans', sans-serif;
}
