@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DMSans.ttf') format('truetype');
	font-weight: 100 1000;
	font-style: normal;
	font-display: swap;
}

@import 'tailwindcss';

html {
	font-family: 'DM Sans', sans-serif;
}
